*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html{
  font-size: 10px;
}
body{
  width: 100%;
}
.wrapper{
  position: relative;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  background-color: rgb(44, 40, 40);
  
}

.slider{
  margin: 0 auto;
  position: relative;
  max-width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
}
.slider_content{
  max-width: 80vw;
  height: 80vw;
  max-height: 60vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background: color rgb(31, 29, 29);;
}
.slider_slids{
  display: flex;
  width: 500%;
  height: 100%;
}
.item{
  width: 20%;
}
.slider_item{
  text-align: center;
  background-color: #fff;
}
.slider_item img{
 width: auto;
  height: 100%;
  }


.slider_footer{
  max-width: 80vw;
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-start;
  justify-content: space-between;
}
.slider_controls{
  width: 30%; 
  height: 3rem;
}

  .slider input{
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0.0001rem;
    visibility: hidden;
    }
    

#slider_controls__visible{
 
  max-width: 30rem;;
  height: 10rem;
   
   display: flex;
   justify-content: space-between;
   margin-left: auto;
 }
 
 #slider_controls__visible label{
   background-color: #fff;
   max-width: 5rem;
   max-height: 5rem;
   min-width: 1.5rem;
   min-height: 1.55rem;
   width: 2vw;
   height: 2vw;
 border: 1.5px solid blue;
 padding: 3px;
 border-radius: 50%;
 }
 
 
 .slider_citates{
   overflow: hidden;
   width: 50%;
   
   padding-top: 0.0001rem;
 }
 
 .slider_citates-wrapper{
   width: 500%;
   display: flex;
 }
 .slider_citata{
   width: 20%;
   align-items: center;
   font-size: 1vw;
   color: rgb(197, 196, 196);
 }
 .slider input:nth-of-type(1):active
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(1),
    .slider input:nth-of-type(2):active
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(2),
    .slider input:nth-of-type(3):active
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(3),
    .slider input:nth-of-type(4):active
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(4), 
    .slider input:nth-of-type(5):active
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(5){
      animation: click 0.75s forwards;
  }
  #radio_btn-1:checked ~ .slider_content .slider_slids #slider_item__first{
    margin-left: -0%;
  }
  #radio_btn-2:checked ~  .slider_content .slider_slids #slider_item__first{
    margin-left: -20%;
  }
  #radio_btn-3:checked ~ .slider_content .slider_slids #slider_item__first{
    margin-left: -40%;
  }
  #radio_btn-4:checked ~ .slider_content .slider_slids #slider_item__first{
    margin-left: -60%;
  }
  #radio_btn-5:checked ~  .slider_content .slider_slids #slider_item__first{
    margin-left: -80%;
  }
  
  
  #radio_btn-1:checked ~ .slider_footer .slider_citates .slider_citates-wrapper #slider_citata__first{
    margin-left: -0%;
  }
  #radio_btn-2:checked ~  .slider_footer .slider_citates .slider_citates-wrapper #slider_citata__first{
    margin-left: -20%;
  }
  #radio_btn-3:checked ~ .slider_footer .slider_citates .slider_citates-wrapper #slider_citata__first{
    margin-left: -40%;
  }
  #radio_btn-4:checked ~ .slider_footer .slider_citates .slider_citates-wrapper #slider_citata__first{
    margin-left: -60%;
  }
  #radio_btn-5:checked ~  .slider_footer .slider_citates .slider_citates-wrapper #slider_citata__first{
    margin-left: -80%;
  }

  


  @media (max-width:880px){
    .slider_content{
      max-width: 80vw;
      height: 80vw;
      max-height: 60vh;
    }
    .slider_footer{
      max-width: 80vw;
    }
  }
  

@media (max-width:600px){
    .slider_footer{
   display: block;
  }
  .slider_controls{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .slider_citates{
    width: 70%;
  }
  .slider_citata{
    font-size: 2.2vh;
  }
  
}


@keyframes click {
  0% {
    transform: scale(1.5);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    background-color: rgba(255, 177, 66, 0.7);
  }

  65% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0.7);
   
  }
  
}
.slider input:nth-of-type(1):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(1),
    .slider input:nth-of-type(2):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(2),
    .slider input:nth-of-type(3):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(3),
    .slider input:nth-of-type(4):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(4), 
    .slider input:nth-of-type(5):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(5){
      background-color: rgba(61, 57, 110, 0.8);
  }

  .wrapper .slider .slider_footer .slider_controls #slider_controls__visible .input_label:hover {
    
    background-color: rgba(61, 57, 110, 0.8);
    opacity: 0.75;
  
}
  
  @keyframes click {
    0% {
      transform: scale(1.5);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
      background-color: rgba(255, 177, 66, 0.7);
    }
  
    65% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
      background-color: rgba(255, 177, 66, 0.7);
    }
  
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
      background-color: rgba(255, 177, 66, 0.7);
     
    }
    
  }
  .slider input:nth-of-type(1):checked
      ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(1),
      .slider input:nth-of-type(2):checked
      ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(2),
      .slider input:nth-of-type(3):checked
      ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(3),
      .slider input:nth-of-type(4):checked
      ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(4), 
      .slider input:nth-of-type(5):checked
      ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(5){
        background-color: rgba(61, 57, 110, 0.8);
    }
  
    .wrapper .slider .slider_footer .slider_controls #slider_controls__visible .input_label:hover {
      
      background-color: rgba(61, 57, 110, 0.8);
      opacity: 0.75;
    
  }

@keyframes click {
  0% {
    transform: scale(1.5);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
    background-color: rgba(255, 177, 66, 0.7);
  }

  65% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0.7);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
    background-color: rgba(255, 177, 66, 0.7);
   
  }
  
}
.slider input:nth-of-type(1):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(1),
    .slider input:nth-of-type(2):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(2),
    .slider input:nth-of-type(3):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(3),
    .slider input:nth-of-type(4):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(4), 
    .slider input:nth-of-type(5):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(5){
      background-color: rgba(61, 57, 110, 0.8);
  }

  .wrapper .slider .slider_footer .slider_controls #slider_controls__visible .input_label:hover {
    
    background-color: rgba(202, 245, 10, 0.8);
    opacity: 0.75;
  
}
.slider input:nth-of-type(1):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(1):hover,
    .slider input:nth-of-type(2):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(2):hover,
    .slider input:nth-of-type(3):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(3):hover,
    .slider input:nth-of-type(4):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(4):hover, 
    .slider input:nth-of-type(5):checked
    ~ .slider_footer .slider_controls #slider_controls__visible label:nth-child(5):hover{
      background-color: rgba(43, 150, 48, 0.8);
     
    opacity: 0.75;
    border: 2px solid rgb(185, 8, 23);
  }